*{
    margin: 0;
    padding: 0;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background: #fff;
    color: #000;
}
#header{
    background-image: linear-gradient(#000000c3,#000000c3), url("img/1.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.container{
    padding: 10px 10%;
}
.container nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    font-size: 1.1rem;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 30px;
    padding-top: 20px;
    font-size: 1rem;
}
nav ul li a{
    color: white;
    position: relative;
}
nav ul li a:hover{
    color: #ff004f;
}
.header-text{
    margin-top: 20%;
    color: white;
}
 span{
    color: rgb(238, 17, 54);
}
.header-text p{
    padding-top: 10px;
    letter-spacing: .15em;
} 
/* ---------about-------- */
#about{
    padding: 80px 0;
    text-align: center;
}
.row{
    display: flex;
    justify-content: space-between;
}
.about-col-1{
    flex-basis: 40%;
}
.about-col-1 img{
    width: 100%;
}
.about-col-2{
    flex-basis: 65%;
}
.row p{
    font-size: 15px;
    padding: 20px;
    text-align: justify;
}
.tab-titles{
    padding: 20px;
    margin: 20px;
}
.tab-titles ul{
    list-style:none;
    
}
.tab-titles ul h3{
    font-size: 17px;
    color: rgb(238, 17, 54);
    margin: 12px;
}
.tab-titles  h4{
    font-size: 12px;
    margin-bottom: 10px;
}
.tab-titles h5{
    font-size: 10px;
    margin-bottom: 10px;
}


/* ---------portfolio------- */
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work-list .work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work-list .work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: tranform(0.5s);
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#000);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: bold;
    color: #fff;
    padding-bottom: 10px;
}
.layer p{
    font-size: 11px;
    color: #fff;
}
.layer a{
    margin-top: 20px;
    color: #000;
    text-decoration: none;
    font-size: 15px;
    line-height: 40px;
    background: #fff;
    width: 40px;
    height:40px;
    border-radius: 50%;
    text-align: center;
}
.work:hover{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}

/*-------------------------skillls--------------- */
#skills{
    width: 800px;
    background: #fff;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin-left: 17rem;
    padding: 15px 30px;

}
.bars{
    margin: 20px 0;
}
.bars .info span{
    color: #000;
    font-size: 13px;
    font-weight: 500;
}
.bars .progress-line{
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    /* box-shadow: inset rgba(0,0,0,0.05); */
    position: relative;
}
.bars .progress-line span{
    height: 100%;
    width: 80%;
    background: rgb(238, 17, 54);
    border-radius: 10px;
    position: absolute;
}

.progress-line.html span{
    width: 85%;
}
.progress-line.css span{
    width: 70%;
}
.progress-line.javascript span{
    width: 30%;
}
.progress-line.mysql span{
    width: 50%;
}
.progress-line.dbms span{
    width: 55%;
}
.progress-line.c span{
    width: 60%;
}
.progress-line.cc span{
    width: 65%;
}
.progress-line.photoshop span{
    width: 30%;
}

/* ----------footer--------- */
footer{
    width: 100%;
    height: auto;
    background-color: #777;
    padding-top: 40px;
    color: #fff;
    padding-top: 15px;
}
footer .footer-content h3{
    font-family:  "Brush Script MT", cursive;
    font-weight: 100;
    text-align: center;
}
footer .footer-content h4{
    padding-top: 10px;
    font-weight: 100;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
footer .footer-content p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    text-align: center;
    padding: 5px;
}
.top{
    list-style: none;
    font-size: 10px;
    align-items: center;
    justify-content: center;
}
footer ul{
    display: flex;
}
footer .footer-content ul li{
    padding: 20px 0 10px 10px;
    font-size: 13px;
}
footer .footer-content ul li a{
    color: #fff;
}
.footer-bottom{
    padding: 10px;
    font-size: 11px;
    text-align: center;
}







/* -------media Query------- */
nav .fa-bars {
    display: none;
}
nav .fa-xmark{
    display: none;
}
@media only screen and (max-width:480px){
    
    .header-text{
        margin-top: 90%;
        font-size: 10px; 
    }
    span{
        font-size: 20px;
    }
    .header-text h1{
        font-size: 30px;
    }
    .header-text p{
        font-size: 20px;
    }
    nav .fa-bars {
        display: block;
        font-size: 30px;
        color: #fff;
    }
    nav .fa-xmark{
        display: block;
        font-size: 30px;
        color: #fff;
    }
    nav ul{
        background: #000;
        position: fixed;
        top: 0;
        right: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-xmark{
        position: absolute;
        top:25px;
        left: 25px;
        cursor: pointer;
    }
    .row p{
        font-size: 22px; 
    }
    .row{
        display: list-item;
    }
    #skills{
        width: 15rem;
        margin-left: 3.7rem;
        padding: 6px 10px;
    }
    .bars .progress-line{
        height: 5px;
        width: 100%;
    }
}












